name: Python package

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: pip cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements*.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install tox
        run: python -m pip install tox
      - name: Run tox
        run: |
          # The testing has intermittent and hard to debug failures related to
          # the playwright setup and not necessarily the code. This hack
          # hopefully decreases the frequency with which I have to manually
          # rerun CI.
          for _ in {1..5}; do
            python -m tox -e py && break
          done
      - if: "matrix.python-version == '3.11'"
        name: Lint and test dist
        run: python -m tox -e lint,publish
